%footer#bt_footer
  .container
    .row
      .footer_column.pt40.pb40
        .footer_column_content.col-sm-8.col-xs-12
          .bt-information.column.col-sm-4.col-xs-12
            %h3
              %span Information
            %ul
              %li
                %a{:href => "about-us.html"} A propos de nous
              %li
                %a{:href => "login.html"} Terms & Conditions
              %li
                %a{:href => "contact.html"} Contact
          .bt-account.column.col-sm-4.col-xs-12
            %h3
              %span Compte
            %ul
              %li
                %a{:href => "login.html"} Newsletter
              %li
                %a{:href => "wishlist.html"} Liste de Souhaits
              %li
                %a{:href => "blog.html"} Order History
              %li
                %a{:href => "login.html"} Affiliates
          .ads_payment
            .payment
              %ul
                %li
                  %a.visa.active{:href => "#", :title => "Visa"}
                    =image_tag "icon/ads_visa.png"
                %li
                  %a.masterCard.active{:href => "#", :title => "MasterCard"}
                    =image_tag "icon/ads_meastro.png"
                %li
                  %a.cirrus.active{:href => "#", :title => "Cirrus"}
                    =image_tag "icon/ads_cirrus.png"
                %li
                  %a.discover.active{:href => "#", :title => "Discover"}
                    =image_tag "icon/ads_discover.png"
                %li
                  %a.bank.active{:href => "#", :title => "Bank"}
                    =image_tag "icon/ads_bank.png"
        .bt-information.column.col-sm-4.col-xs-12
          .b_static_footer
            %p.street
              %i.fa.fa-map-marker
              123 Street name, City, ABC
            %p.support
              %i.fa.fa-envelope
              admin@bootexparts.com
            %p.service
              %i.fa.fa-life-ring
              %span Customer Service
              (8:00-17:00)
            %p.phone
              (123) 456-7890
              %br/
              (123) 456-7890
  .powered-payment
    .container
      .row
        .powered.col-sm-12.col-xs-12.pull-left
          #powered
            %p Copyright © 2016 - DakarClic. Tous droits reservés.
