.menu-area
  .container
    .row
      .col-md-12
        %nav
          %ul
            %li
              =link_to 'En Cours' , root_path
            %li
              %a{:href => "#"} A venir
            %li
              %a{:href => "#"} Terminées
            %li
              %a{:href => "#"} Comment ça marche
            %li
              %a{:href => "#"} Proposez vos produits
            %li
              %a{:href => "#"} Le parlement
