.mobile-menu-area
  .container
    .row
      .col-sm-12
        %nav#dropdown
          %ul
            %li
              %a{:href => "homepage.html"} En cours
            %li
              %a{:href => "#"} A venir
            %li
              %a{:href => "#"} Terminées
            %li
              %a{:href => "#"} Comment ça marche
            %li
              %a{:href => "#"} Proposez vos produits
            %li
              %a{:href => "#"} Le parlement
