.home-4-waraper
  =render "header"
  =render "mainheader"
  =render "menuarea"
  =render "mobilemenu"
  =render "slider"
  =render "auctions/online"
  =render "auctions/closed"
  =render "newsletter"
  =render "footer/footer"
