/*Customize color */
a{
  color: #fff;
}

.home-4-waraper .main-header {
  background: #eeeeee none repeat scroll 0 0;
}

.home-4-waraper a:hover {
  color: #ffcc00;
}
.home-4-waraper .menu-area ul li > a{
  border: 3px solid rgba(255,255,255,0);
  //border-bottom: none;
}
.home-4-waraper .menu-area ul li a:hover, .home-4-waraper .menu-area ul li:hover > a {
  background: #fff;
 // border: none;
  border-bottom: 3px solid #ffcc00;
  color: #ffcc00;
}
.home-4-waraper .language .dropdown-menu li a:hover,
.home-4-waraper .language .dropdown-menu li button:hover,
.home-4-waraper .currency .dropdown-menu li a:hover,
.home-4-waraper .currency .dropdown-menu li button:hover {
  color: #ffcc00;
}
.cart-btn.common4 > a {
  background: #ffcc00 none repeat scroll 0 0;
}
.cart-btn.common4 > a:hover {
  border: 1px solid #ffcc00;
}

.slider-area2 .bend .rm-btn a,
.slider-area2 .rm-btn2 a {
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
  color: #fff;

}
.slider-area2 .bend .rm-btn a:hover,
.slider-area2 .rm-btn2 a:hover {
  color: #ffcc00;
}
.preview-2 .nivo-controlNav a:hover,
.preview-2 .nivo-controlNav a.active {
  background: #ffcc00 none repeat scroll 0 0;
}
.common4 .input-box a i {
  background: #0066ff none repeat scroll 0 0;
}
.common4 .input-box a i:hover{
  background: #fff none repeat scroll 0 0;
  color: #0066ff;
}
.home-4-waraper .bt-information .b_static_footer {
  background: #ffcc00 none repeat scroll 0 0;
}

.home-4-waraper .search-bar > input, .input-box input{
  border: 1px solid #0066ff;
}
.home-4-waraper .search-bar > input[placeholder]{
  color: #000;
}
.home-4-waraper .search-bar {
  color: #0066ff;
}
.home-4-waraper .menu-area{
  background-color: #c3c3c3;
}
.menu-area ul li > a{
  color: #fff;
}
footer {
  background-color: #868686;
}
.b_header_middle {
  background-color: #c3c3c3;
}
.language strong b, .currency strong b,
.b_header_middle .contact,
.b_header_middle .contact a,
.b_header_middle .top_right
.footer-social ul li a,.btn-link:hover, .btn-link:focus{
  color: #fff;
}
.language strong b:hover,
.currency strong b:hover,
.b_header_middle .contact:hover,
.b_header_middle .contact a:hover,
.b_header_middle .top_right .footer-social ul li a:hover{
  color: #ffcc00;
}
.button.c_button,.button.c_button.reverse:hover {
  background: #0066ff none repeat scroll 0 0;
  color: #fff;
  border: 1px solid #0066ff;
}
.button.c_button:hover,.button.c_button.reverse {
  background: #fff none repeat scroll 0 0;
  color: #0066ff;
  border-color: #0066ff;
}
.time-ratting-bought-custom {
  background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;
}
.single-product-text {
  background-color: rgba(238, 238, 238, 0.68);
  border-top: 1px solid #c3c3c3;
  box-shadow: 0 1px 5px 0  rgba(205, 205, 205, 0.86);
}
.common-btn .btn.btn-primary{
  background: #fff none repeat scroll 0 0;
  color: #0066ff;
  border: 1px solid #0066ff;
}
.common-btn .btn.btn-primary:hover{
  background: #0066ff none repeat scroll 0 0;
  color: #fff;
}
.list-inline > li > a{
  color: #868686;
}
.list-inline > li > a:hover{
  color: #ffcc00;
}
.frm-action{
  background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;
  border-color: rgba(0, 102, 255, 0.5);
}
/*Customize color */
.av_title {
    background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}


.seemore{
  background-color: #F7C600 !important;
}

.seemore a {
  font-family: "Roboto", sans-serif;
  color : #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.col-padd-custom{
  padding: 10px
}

.time-ratting-bought-custom {
  bottom: 0;
  color: #fff;
  height: 30px;
  left: 0;
  line-height: 30px;
  padding-left: 12px;
  padding-right: 18px;
  position: absolute;
  transform-origin: 0 100% 0;
  transition: all 0.8s ease 0s;
  width: 100%;
}

.price-custom{
  color :#ff1744 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.btngo{
  background: #00aeef  none repeat scroll 0 0 !important;
}


.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


.mt60{
  margin-top: 60px;
}

.desblockprice{
  margin-top: 15px
}

.desprice{
  color : #f32200;
  font-size:30px !important;
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}

.desprice_inverse{
  font-size:30px !important;
  background-color: #cc1d00;
  color: #fff;
}


.customenc{
  font-size: 18px;
  font-weight: 700;
}

.nopad{
  padding: 0px !important;
}

.white{
  color:#fff !important;
}

.infogagn {
  font-size :16px;
  font-weight :700
}

.infogagn_inverse{
  background-color: #ccc;
  color :#fff;
  font-size :16px;
}

ul.list-inline > li {
  float: right;
}
.search-bar{
  width: 100%;
}

.modal.account-area{
  padding-top: 70px;
}

.top-links .list-inline li a i{
  top : 0;
  font-size: 18px;
}
.top-links .button.c_button{
  padding: 0px 7px;
}
@media (max-width: 767px){
  ul.list-inline {
    padding-left: 50px;
  }
  ul.list-inline > li {
    margin-right: 50px;
    float: none;
}
  .shop-wish-item{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
